<!doctype html>
<html ng-app="Angello">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="angello/app/styles/main.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body >

    <!-- Add your site or application content here -->
    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
          <div class="navbar-header">

            <a class="logo navbar-brand" href="#/">angularTraining</a>
            <img src="assets/img/angello.png">
          </div>
        </div>

    <div class="container" ng-controller="MainCtrl as  main">
    <div class="col-md-4">
      <h2>Things</h2>
      <div
           ng-repeat="story in main.stories" ng-click="main.setCurrentStory(story)">
        <h4>{story.title}}</h4>
        <p>{{story.description}}</p>
      </div>

    </div>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="angello/app/Angello.js"></script>
    <script src="angello/app/controllers/main.js"></script>


</body>
</html>
